@media (min-width: 576px) {
    .ian-sm {
        width: 25% !important;
    }
    .flame-sm {
        width: 20% !important;
    }
    .footer-logo {
        width: 50px !important;
    }
    .bg-sm-black {
        background-color: black !important;
    }
}
